@use 'sass:math';
@use '@lumina-ui/theme/index.scss' as *;

.collapse-slide-enter-active,
.collapse-slide-leave-active {
  @include useTheme {
    transition: height getVar('transitionBase');
  }
}

@include b(collapse) {
  box-sizing: border-box;

  @include useTheme {
    border-radius: getVar('borderRadiusBase');
    outline: getVar('borderBase');
    box-shadow: getVar('shadowStandardS');
  }
}

@include b(collapse-item) {
  cursor: pointer;
  @include useTheme {
    padding: 0 getVar('paddingBase');

    &:not(:last-child) {
      border-bottom: getVar('borderBase');
    }

    @include e(header) {
      font: getVar('fontBodyMediumM');
      padding: getVar('paddingBase');
      display: flex;
    }

    @include is('disabled') {
      color: getVar('colorTextDisable');
    }

    @include e(header-angle) {
      transform-origin: 50% 50%;
      margin-left: auto;
      transition: transform getVar('transitionBase');
    }

    @include is('active') {
      @include be(collapse-item, header-angle) {
        transform: rotateZ(90deg);
      }
    }

    @include e(title) {
      font: getVar('fontBodyBoldM');
    }

    @include e(content) {
      padding: getVar('paddingBase');
      padding-top: calc(getVar('paddingBase') / 2);
      font: getVar('fontBodyRegularM');
      color: getVar('colorTextDescription');
    }
  }
}
