$font: (
  fontTitleXL: 48px bold,
  fontTitleL: 40px bold,
  fontTitleM: 32px bold,
  fontTitleS: 24px bold,
  fontTitleXS: 20px bold,
  fontBodyRegularL: 18px normal,
  fontBodyMediumL: 18px 500,
  fontBodyBoldL: 18px bold,
  fontBodyRegularM: 16px normal,
  fontBodyMediumM: 16px 500,
  fontBodyBoldM: 16px bold,
)