$color: (
  colorResting: #ffffff,
  colorPrimary: #255EEB,
  colorSuccess: #0BAE40,
  colorWarning: #BA543C,
  colorDanger: #f56565,
  colorDisable: #B1BAC8,
  colorBg: #ffffff,
  colorBgPage: #f2f3f5,
  colorTextResting: #000000,
  colorTextPrimary: #ffffff
)