$fontFamily: Inter,'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','微软雅黑',Arial,
sans-serif;

$font: (
  fontTitleXL: bold 48px $fontFamily,
  fontTitleL: bold 40px $fontFamily,
  fontTitleM: bold 32px $fontFamily,
  fontTitleS: bold 24px $fontFamily,
  fontTitleXS: bold 20px $fontFamily,
  fontBodyRegularL: 18px normal $fontFamily,
  fontBodyMediumL: 500 18px $fontFamily,
  fontBodyBoldL: bold 18px $fontFamily,
  fontBodyRegularM: 16px normal $fontFamily,
  fontBodyMediumM: bold 16px $fontFamily,
  fontBodyBoldM: bold 16px $fontFamily
);
